.topleftsidemenu {
    padding-right: 95%;
    margin-left: 25px;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

svg.dinnericon {
    width: 40px;
    color: white;
    margin-top: 5px;
}
.topcart{
    width: 25px;
    color: white;
}
svg.topmaintitle {
    padding-left: 30%;
    margin-top: -35px;
}
.toprightsidemenu {
    text-align: end;
    padding-left: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -70px;
}
.mainvideo {
    z-index: -10;
    position: absolute;
    mix-blend-mode: screen;
    margin-top: -5%;
    width: 100%;
    margin-left: -8px;
}
svg.topuser {
    fill: white;
    width: 25px;
}

svg.topsearch{
    color: white;
    z-index: 10;
    cursor: pointer;
}
.header {
  position: relative;
  width: 101.5%;
  height: 200px; /* apne hisaab se */
  overflow: hidden;
  margin-top: -81px;
  margin-left: -1%;
}

.hover-layer {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.781); /* white effect */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header:hover .hover-layer {
  opacity: 1;
}

.Accessoriesmenu {
    color: white;
    margin-left: 27%;
    display: flex;
    gap: 30px;
    margin-top: -77px;
}

.video-text {
    font-size: 27px;
    margin-top: 30%;
    margin-left: 40%;
    color: white;
}

button.shopnowbutton {
    background-color: transparent;
    height: 60px;
    width: 120px;
    border-color: white;
    color: white;
    margin-left:48%;
    margin-top: 1%;
    
}

button.shopnowbutton:hover{
    background-color: #009cad;
    transition-duration: 1s;
    
}

a.SHOPLINK {
    COLOR: white;
    text-decoration: none;
}

.SecondAccessoriestittle {
    padding-top: 12%;
    padding-left: 45%;
    font-size: 30px;
    padding-bottom: 2%;
}

img.firstimage {
    width: 96%;
    margin-left: 20px;
}

.firstlineAccessories {
    display: flex;
    justify-content: space-around;
}

.firstlineAccessoriestext {
    display: flex;
    justify-content: space-around;
}

a.lnk.text-uppercase.lnk-dark {
    color: black;
    text-decoration: underline #009cad;
    padding-top: 20px;
    text-underline-offset: 10px;
}

.secondlineAccessoriestitle{
    font-size: 24px;
    padding-top: 5%;
    padding-left: 43%;
    padding-bottom :5%;
}

.secondlineAccessoriestextline {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

a.secondlineAccessoriesfirsttext {
    color: black;
    text-decoration: none;
    margin-left: 32px;
}

a.secondlineAccessoriessecondtext {
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

a.secondlineAccessoriesthirdtext {
    color: black;
    text-decoration: none;
}

a.secondlineAccessoriesfourthtext {
    color: black;
    text-decoration: none;
    margin-right: -28px;
}

a.secondlineAccessoriesfivethtext {
    color: black;
    text-decoration: none;
}

.secondlineproductname{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

a.tf-carousel-product-name {
    color: black;
    text-decoration: none;
}

a.tf-carousel-product-name:hover{
    text-decoration: underline aqua;
}

secondshopbutton{
    background-color: transparent;
    height: 60px;
    width: 120px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-left:48%;
    margin-top: 1%;
}

button.secondshopbutton {
    background-color: white;
    width: 175px;
    height: 50px;
    border-color: #e0e0e0;
}

button.secondshopbutton:hover{
    background-color: aqua;
    transition: 2s;
    cursor: pointer;
}

a.secondSHOPLINK {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.secondshopbutton {
    text-align: center;
    margin-left: 20px;
}

.thirdAccessoriestitle {
    font-size: xx-large;
    text-align: center;
    margin-top: 75px;
    margin-left: 46px;
    padding-bottom: 3%;
}

a.thirdAccessoriesfirstname {
    font-size: large;
    text-decoration: none;
    color: black;
    margin-left: 90px;
    margin-bottom: 10px;
}

a.thirdAccessoriesfirstname:hover{
    text-decoration: underline;
}

.thirdAccessoriesname {
    padding-top: 15px;
    padding-bottom: 4%;
}

a.thirdAccessoriessecondname {
    margin-left: 210px;
    font-size: large;
    color: black;
    text-decoration: none;
}

a.thirdAccessoriesthirdname {
    margin-left: 14%;
    font-size: large;
    color: black;
    text-decoration: none;
}

a.thirdAccessoriesfourthname {
    margin-left: 13%;
    text-decoration: none;
    color: black;
    font-size: large;
}

a.thirdAccessoriesfivethname {
    margin-left: 11%;
    font-size: large;
    color: black;
    text-decoration: none;
}

a.thirdAccessoriessixthname {
    margin-left: 9%;
    font-size: large;
    color: black;
    text-decoration: none;
}

.firstAccessoriesbanner {
    display: flex;
    justify-content: center;
}

img.firstbanner {
    width: 50%;
    margin-left: 0px;
}

h2.firstbannertext {
    font-size: 57px;
    margin-top: -21%;
    margin-left: 17%;
    color: white;
}

h2.copyrigthicon {
    color: white;
    margin-left: 32%;
    margin-top: -5.8%;
}

h2.secondbannertext {
    color: white;
    font-size: 57px;
    margin-left: 20%;
    margin-top: 33px;
}

h2.thirdbannertext {
    color: white;
    font-size: 60px;
    margin-left: 65%;
    margin-top: -7%;
}

button.bannerfirstbutton{
    width: 124px;
    height: 55px;
    background-color: white;
    border: transparent;
    margin-left: 22%;
}

button.bannerfirstbutton:hover{
    background-color: aqua;
}

button.bannersecondbutton {
    width: 124px;
    height: 55px;
    background-color: white;
    border: transparent;
    margin-left: 43%;
}

button.bannersecondbutton:hover{
    background-color: aqua;
}

.ringbanner {
    margin-top: 12%;
    padding-left: 32.2%;
}

.Love-\&-Engagement {
    margin-top: -32%;
    padding-right: 67.8%;
    text-align: center;
    font-weight: bold;
}

a.linkforring {
    color: black;
    text-decoration: none;
}

.footertitle {
    padding-top: 24%;
    font-size: 55px;
    text-align: center;
    padding-bottom:5%
}

.servicelogo {
    margin-left: 10%;
    margin-top: 80px;
}

.secondlogo {
    margin-left: 10%;
    margin-top: -160px;
}

.thirdlogo {
    text-align: end;
    padding-right: 13%;
    margin-top: -13.5%;
}

.fourthlogo {
    text-align: end;
    margin-top: -12%;
    margin-right: -4px;
}

.firstservicename{
    display: flex;
    justify-content: space-around;
    font-size: 33px;
    margin-top: -109px;
}

p.firstservicefirsttext {
    margin-left: 20px;
}

p.firstservicesecondtext {
    padding-left: 21px;
}

p.firstservicethirdtext {
    margin-left: -95px;
}

p.firstservicefourthtext {
    margin-right: 65px;
}

p.secondservicefirsttext {
    margin-left: 7%;
    font-size: 40px;
    margin-top: -33px;
}

p.secondservicesecondtext {
    font-size: 40px;
    margin-left: 33.5%;
    margin-top: -87px;
}

p.secondservicethirdtext {
    text-align: end;
    font-size: 40px;
    margin-right: 11%;
    margin-top: -88px;
    padding: bottom 10px;
}

p.thirdservicefirsttext {
    padding-top: 20px;
    font-size: 20px;
    margin-left: 7%;
}

p.thirdservicesecondtext {
    font-size: 20px;
    margin-left: 31%;
    margin-top: -43px;
}

p.thirdservicethirdtext {
    text-align: center;
    font-size: 20px;
    margin-left: 17%;
    margin-top: -45px;
}

p.thirdservicefourthtext {
    text-align: end;
    margin-right: 10%;
    margin-top: -42px;
    font-size: 20px;
}

.fourthservicename {
    margin-top: -38px;
    margin-left: 20px;
}

.packaging {
    text-align: end;
    margin-right: 13%;
    margin-top: -10px;
}

.BOOK.AN.APPOINTMENT {
    margin-left: 7.5%;
    margin-top: 3%;
    text-decoration: underline aqua;
    text-underline-offset: 10px;
    cursor: pointer;
    font-weight: bold;
}

.Learn.More {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 14%;
    text-decoration: underline aqua;
    text-underline-offset: 10px;
    margin-top: -18px;
    font-weight: bold;
}

.CONTACT.US {
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 9.5%;
    margin-top: -1%;
    text-decoration: underline aqua;
    text-underline-offset: 10px;
}

.EXPLORE.ALL.GIFTS {
    TEXT-ALIGN: end;
    color: black;
    text-decoration: none;
    text-underline-offset: 10px;
    text-decoration: underline aqua;
    margin-right: 5.5%;
    margin-top: -18px;
    font-weight: bold;
}

hr.breakfooter {
    margin-top: 5%;
    margin-left: -10px;
}

.Home {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: larger;
    cursor: pointer;
    margin-right: 60px;
}

.Home.Page {
    margin-left: 94px;
    margin-top: -27px;
}

hr.breakfooter {
    margin-top: 2%;
    margin-left: -10px;
}

h2.signuptitle {
    text-align: center;
    margin-top: 60px;
}

.signupemailbutton {
    text-align: center;
    margin-right: 0%;
    padding-bottom:5%;
}

input.emailbutton {
    width: 35%;
    height: 30px;
}

input.emailbutton {
    width: 35%;
    height: 30px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: thin;
    outline: none; 
    border-top: none;
    border-left: none;
    border-right: none;
}

button.signup {
    width: 5%;
    height: 50px;
    background: #f4f0ea;
    border: none;
}

.SUPPORT {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.SUPPORT {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    background: #faf7f5;
}

a.firstservicemenu {
    margin-left: 10%;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a.firstservicemenu:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

a.firstservicemaintitle {
    margin-left: 10%;
    font-size: 26px;
    color: black;
    text-decoration: none;
    margin-top: -75px;
}

.SERVICES{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    background: #faf7f5;
}

.SERVICES {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    background: #faf7f5;
    padding-left: 22%;
    margin-top: -25.8%;
}


.ABOUT {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    background: #faf7f5;
    padding-left: 49%;
    margin-top: -19.6%;
}

.LEGAL {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    background: #faf7f5;
    padding-left: 76%;
    margin-top: -15.6%;
}

.secondbreakfooter {
    padding-bottom: 3%;
    background-color: #faf7f5;
    padding-top: 5%;
}

hr.footerbreakline {
    width: 80%;
}

p.content-assest {
    padding-top: 5%;
    padding-left: 10%;
    ;
}

p.shipto-item {
    padding-left: 16%;
    margin-top: -35px;
}

p.country-name {
    padding-left: 22.5%;
    margin-top: -32px;
    text-decoration: underline;
    cursor: pointer;
}

img.footer-logo {
    padding-left: 45%;
    margin-top: -80px;
}

.social-media-platform {
    display: flex;
    justify-content: space-around;
    padding-left: 71%;
    margin-right: 9%;
    margin-top: -6.5%;
}

a.Platform {
    color: black;
    text-decoration: none;
}

a.Platform:hover{
    text-decoration: underline;
}